[submodule "cruize_base"]
	path = cruize_base
	url = git@github.com:fsugenomics/cruize_base
[submodule "cruize_www"]
	path = cruize_www
	url = git@github.com:fsugenomics/cruize_www
[submodule "cruize_sql"]
	path = cruize_sql
	url = git@github.com:fsugenomics/cruize_sql
[submodule "cruize_admin"]
	path = cruize_admin
	url = git@github.com:fsugenomics/cruize_admin
[submodule "cruize_blat"]
	path = cruize_blat
	url = git@github.com:fsugenomics/cruize_blat
[submodule "cruize_scripts"]
	path = cruize_scripts
	url = git@github.com:fsugenomics/cruize_scripts
